.app {
  text-align: center;
}

.contentsBtn {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  border: none;
  opacity: 20%;
  background-color: dimgrey;
}

.contents {

}

.mainSection {
  margin: 10px 30px 80px 300px;
}

.mainSectionFullScreen {
  margin: 10px 30px 80px 30px;
}

