.app {
  text-align: center;

}

.contentsBtn {
  margin: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: none;
  opacity: 100%;
  background-color: rgb(15, 63, 39);
  border-radius: 50%;
  z-index: 10
}

.contents {
  background-color: rgb(15, 63, 39);
}

.mainSection {
  margin: 10px 30px 80px 300px;
}

.mainSectionFullScreen {
  margin: 10px 30px 80px 30px;
}

